* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(79, 72, 71);
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    padding: 15px;
    background-color: rgb(38, 97, 80);
    border-bottom: 10px solid rgb(221, 175, 148);
    display: flex;
    justify-content: end;
}

header a {
    margin-right: 15px;
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

figcaption {
    padding: 10px;
}

form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 5px solid rgb(221, 175, 148);
    border-radius: 10px;
}

form div {
    width: 100%;
}

footer {
    padding: 1px;
    background-color: rgb(38, 97, 80);
    border-bottom: 10px solid rgb(79, 72, 71);
}

footer p {
    color: white;
    text-align: center;
}

.contact-input {
    width: 60%;
    margin: 2px;
}

#image {
    width: 100%;
    text-align: center;
}

#image-section {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#contact-form {
    padding: 10px;
    text-align: center;
    background-color: rgb(232, 206, 191);
    border-top: 3px solid rgb(221, 175, 148);
}

#button {
    width: 110px;
    height: 35px;
    background-color: rgb(79, 72, 71);
    color: white;
    border-left: 1px solid rgb(118, 118, 118);
    border-top: 1px solid rgb(118, 118, 118);
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}


@media screen and (max-width: 450px) {
    img {
        /* display: none; */
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #button {
        width: 100%;
    }